<mat-toolbar color="primary">
    
    <button mat-icon-button  aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Portafolio</span>

      <span class="toolbar-space"></span>
      
      <button mat-icon-button [matMenuTriggerFor] = "Matmenu" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #Matmenu>
        
       <button *ngIf="!menu" mat-menu-item [routerLink]="['/','login']" >
            Login/Register
        </button>
        <button *ngIf="menu" mat-menu-item (click)='cerrarSesion()'  >
          Cerrar sesión
       </button>
        
      </mat-menu>     
</mat-toolbar>
