<div class="div-login register" >
    <div class="form-grup"></div>
    <div class="form-grup">
      <label for="nombres" class="form-label">Nombres</label>
      <input type="text" class="form-control-login" id="nombres" placeholder="nombres" />
    </div>
  
    <div class="form-grup">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input
        type="text"
        class="form-control-login"
        id="apellidos"
        placeholder="apellidos"
      />
    </div>
  
    <div class="form-grup">
      <label for="email" class="form-label">Correo</label>
      <input
        type="email"
        class="form-control-login"
        id="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="form-grup">
      <label for="password" class="form-label"
        >Contraseña nueva</label
      >
      <input type="password" class="form-control-login" id="password" />
    </div>
    <button type="submit" class="btn-login">Registrarte</button>
  </div>
  