*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: auto;
    margin: 0px auto;
    min-height: 600px;
}

.mat-drawer-inner-container.ng-tns-c37-0 {
    overflow: hidden !important;
}

