<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <div class="alert alert-danger" *ngIf="messageError">
      {{ messageError }}
    </div>
    <div class="alert alert-success" *ngIf="mensajeSucces">
      {{ mensajeSucces }}
    </div>
    <form [formGroup]="updateRegister" (ngSubmit)="onSubmit()">
      <div class="mb-3" style="text-align: center;">
        <img 
          class="rounded-circle"
          alt="250x250"
          [width] = "250"
          [height] = "250"
          [src]="imagePergil != '' ? imagePergil  : 'https://placehold.it/100x100' "
          data-holder-rendered="true"
        />
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          required
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          updateRegister.controls['name'].invalid &&
          (updateRegister.controls['name'].dirty ||
            updateRegister.controls['name'].touched)
        "
      >
        <li
          class="validation"
          *ngIf="updateRegister.controls['name'].hasError('required')"
        >
          El campo es requerido
        </li>
      </div>
      <div class="mb-3">
        <label for="surname" class="form-label">Apellidos</label>
        <input
          type="surname"
          class="form-control"
          id="surname"
          formControlName="surname"
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          updateRegister.controls['surname'].invalid &&
          (updateRegister.controls['surname'].dirty ||
            updateRegister.controls['surname'].touched)
        "
      >
        <li
          class="validation"
          *ngIf="updateRegister.controls['surname'].hasError('required')"
        >
          El campo es requerido
        </li>
      </div>
      <div class="mb-3">
        <label for="imagePerfil" class="form-label">Imagen de perfil</label>
        <input
          type="file"
          class="form-control"
          id="imagePerfil"
          formControlName="image"
          (change)="filesChangeEvent($event)"
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          updateRegister.controls['image'].invalid &&
          (updateRegister.controls['image'].dirty ||
            updateRegister.controls['image'].touched)
        "
      >
        <li
          class="validation"
          *ngIf="updateRegister.controls['image'].hasError('required')"
        >
          El campo es requerido
        </li>
        <li
          class="validation"
          *ngIf="updateRegister.controls['image'].hasError('extension')"
        >
          {{ extensions }}
        </li>
      </div>
      <button
        [disabled]="updateRegister.invalid || updateRegister.untouched"
        type="submit"
        class="btn btn-primary"
      >
        Actulizar
      </button>
    </form>
  </div>
  <div class="col"></div>
</div>
