
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>

    <aside id="aside">

      <div class="img-perfil" style="background-image:
        url(assets/images/fondo.png);">
        <a href="#" class="img logo rounded-circle mb-5"
          style="background-image: url(assets/images/perfil.png);">
        </a>
        <h2>Wilson Vasquez Coronado </h2>
      </div>

      <ul>
        <li>
          <a href="#">Webs</a>
        </li>
        <li>
          <a href="#">Apps</a>
        </li>
        <li>
          <a href="#">Diseños</a>
        </li>
        <li>
          <a href="#">Otros</a>
        </li>
      </ul>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button mat-icon-button aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Portafolio</span>

      <span class="toolbar-space"></span>

      <button mat-icon-button [matMenuTriggerFor]="Matmenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #Matmenu>

        <button *ngIf="!identity" mat-menu-item [routerLink]="['/','login']">
          Login/Register
        </button>
        <button *ngIf="identity" mat-menu-item (click)='cerrarSesion()'>
          Cerrar sesión
        </button>

      </mat-menu>
    </mat-toolbar>

      <div>

        <router-outlet></router-outlet>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>
