/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.min.css";

*:focus{
  outline: none  !important;
}
body {
  margin: 0px;
  padding: 0px;
}
wr-login {
  width: 100%;
}

wr-register {
  width: 100%;
}


wr-toolbar {
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.row {
  --bs-gutter-x: 0;
}