<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    
    <aside id="aside">

    <div class="img-perfil"   style="background-image: url(assets/images/fondo.png);">
        <a href="#" class="img logo rounded-circle mb-5" 
       style="background-image: url(assets/images/perfil.png);">
        </a>
        <h2>Wilson Vasquez Coronado </h2>
    </div>
       
      <ul>
        <li>
          <a href="#">Webs</a>
        </li>
        <li>
          <a href="#">Apps</a>
        </li>
        <li>
          <a href="#">Diseños</a>
        </li>
        <li>
          <a href="#">Otros</a>
        </li>
      </ul>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <wr-toolbar [sidenav]="sidenav"></wr-toolbar>
    <div>
      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
